img {
    padding: 0;
}

hr {
  border: 0;
  border-top: 1px dotted #AAA;
  margin: 12px 0;
}

#drop-zone {  
  text-align: center;
  padding: 26px 0 22px;
  font-size: 20px;
  font-weight: bold;
  width: 506px;
  color: #000;
  
  background: #DDD;
  float: left;

  margin: 0 0 0 0;

}

#drop-zone.drop-zone-hover {
    background: #000;
    color: #DDD;
}

#buttons, #stats {
  display: inline-block;
  margin: 4px 0 0 0;
}

#buttons {
  float: left;
}

#stats {
  float: right;
}

#options {
    margin: 0 0 0 0;
    width: 280px;
    float: left;
}

#options .form {
  padding: 2px;
  display: inline-block;
  font-weight: bold;
  margin: 0 0 2px 0;
}

#options .form select {
  width: 130px;
}

#options .form .title-container {
  width: 136px;
  display: inline-block;
}

#options .form .title {
  cursor: help;
  display: inline-block;
  border-bottom: 1px dotted #000;
}

#options .form .small {
  border: 1px solid red;
  font-weight: normal;
  font-size: 12px;
  
}

.cl {
  line-height: 0;
  clear: both;
}

/* *** */

#original-image {
  display: none;
}

canvas {
  display: none;
  height: 0;
}

#canvas-container {
   text-align: center;
   margin: 0;
   padding: 0;
}

#canvas-container img {
    border: 0;
    padding: 0;
    vertical-align: middle;
}

/* *** */

#palette-list {
    height: 28px;
}

#palette-list .color {
    display: inline-block;
    height: 28px;
}