img {
    padding: 0;
}

hr {
  border: 0;
  border-top: 1px solid #AAA;
}

#drop-zone {  
  text-align: center;
  padding: 52px 0 51px 0;
  font-size: 20px;
  font-weight: bold;
  width: 500px;
  color: #999;
  border: 1px solid #AAA;
  float: left;

  margin: 6px 0 0 6px;
}

#drop-zone.drop-zone-hover {
    border: 1px solid #000;
    color: #000;
}

#controls {
    margin: 6px 0 0 0; 
    border: 1px solid #AAA;
    width: 280px;
    float: left;
}

#controls .form {
  padding: 4px;
  display: inline-block;
  
  font-weight: bold;
}

#controls .form select {
  width: 130px;
}

#controls .form span {

  cursor: help;
  width: 130px;
  display: inline-block;
}

.cl {
  line-height: 0;
  clear: both;
}

/* *** */

#original-image {
  display: none;
}

canvas {
  display: none;
  height: 0;
}

#canvas-container {
   text-align: center;
   margin: 0;
   padding: 0;
}

#canvas-container img {
    border: 0;
    padding: 0;
    vertical-align: middle;
}

/* *** */

#palette {
  margin: 10px 0;
}

#palette .color {
  border: 1px solid black;
  padding: 3px 10px;
  margin: 0 2px 0 0;
  line-height: 26px;
}