#drop-zone.drop-zone-hover {
  background-color: rgba(0, 0, 0, 0.2);
  
}

canvas {
  display: none;
  height: 0;
}

#canvas-container {
   text-align: center;
   margin: 0;
   padding: 0;
}

#canvas-container img {
    border: 0;
    padding: 0;
    vertical-align: middle;
}

.form {
  padding: 4px;
  display: inline-block;
  background: #CCC;
  font-weight: bold;
  margin: 6px 0 0 0;
}

.form span {
  border-bottom: 1px dotted black;
  cursor: help;
}