#drop-zone {  
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 23px 0px;
  color: #999;
  border: 1px solid #AAA;
}

#drop-zone.drop-zone-hover {
    border: 1px solid #000;
    color: #000;
}

#original-image {
  display: none;
}

canvas {
  display: none;
  height: 0;
}

#canvas-container {
   text-align: center;
   margin: 0;
   padding: 0;
}

#canvas-container img {
    border: 0;
    padding: 0;
    vertical-align: middle;
}

.center {
    margin: 10px 0 0 0;
    text-align: center;
}

.form {
  padding: 4px;
  display: inline-block;
  border: 1px solid #AAA;
  font-weight: bold;
}

.form span {
  border-bottom: 1px dotted black;
  cursor: help;
}

#palette {
  margin: 10px 0;
}

#palette .color {
  border: 1px solid black;
  padding: 3px 10px;
  margin: 0 2px 0 0;
  line-height: 26px;
}