<?xml version="1.0" encoding="UTF-8"?>
<project>
  <name>Picbit</name>
  <date>20/Jan/2015</date>
  <version>v1.0</version>
  <description>Picbit - javascript image processing</description>
  <tags>
    <tag>picbit</tag>
    <tag>javascript</tag>
    <tag>image</tag>
    <tag>processing</tag>
  </tags>
</project>
